span.mtk16 {
    text-shadow: 0 0 20px #4ec9b0;
}

div.quick-input-widget {
    --vscode-quickInput-background: transparent in !important;
}

div.monaco-inputbox {
    --vscode-input-background: transparent in !important;
}

div.focused {
    --vscode-quickInputList-focusBackground: #04395e80 in !important;
}

